# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode

# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
target/

# Some of our applications generate logs, which should be ignored by git
logs/

# Other
**/.factorypath
#file for testing
pw.txt
# compiled Vaadin widgetsets
src/main/webapp/VAADIN/widgetsets

#file containign password
/src/main/java/life/qbic/cli/main/MainTool.java

#sample fastq files
samples/

classes/
config.yaml